body {
  background-color: rgb(193, 235, 255);
}

h1 {
  color: navy;
  margin-left: 20px;
}

summary {
  color: #056401;
}

/* Click the links below! */
#articlesPrompt {
  color: hsl(0, 0%, 20%);
}
